.navbar-lewagon {
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  h1 {
    color: black;
    margin: 0;
  }
  a.nav-link {
    color: black !important;
  }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@media (max-width: 575px) {
  .navbar-lewagon {
    h1 {
      display: none;
    }
  }
}
