.search-bar {
  transition: 100ms ease-in;
  position: absolute;
  top: 70px;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  input {
    border-radius: 16px;
    height: 50px;
  }
  button {
    border-radius: 50%;
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

.search-bar.sticky-bar {
  top: 10px;
  z-index: 2;
  position: fixed;
}

.search-form-control {
  position: relative;
  height: 50px;
}

.search-form-control .btn {
  position: absolute;
  right: 8px;
  bottom: 50%;
  transform: translateY(50%);
}

.search-form-control .form-control {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}


@media (max-width: 660px) {
  .search-bar {
    width: 30%;
  }
  .search-bar.sticky-bar {
    top: 10px;
    z-index: 2;
    position: fixed;
    width: 30%;
  }
}

#search-bar-container {
  position: relative;
}

#search-div {
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 60px;
  z-index: -1;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  a {
    color: inherit;
    display: block;
  }
}

#search-div .hidden {
  display: none;
}

#search_query {
  padding-left: 40px;
}

#search_query.unstyle {
  border-radius: 16px 16px 0 0;
  box-shadow: none;
  padding-left: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

#search_query:focus {
  border: none;
}

@media (max-width: 575px) {
  .search-bar {
    width: 50%;
    top: 2.5px;
    left: 30%;
  }

  .search-bar.sticky-bar {
    top: 2.5px;
    z-index: 2;
    position: fixed;
    width: 50%;
  }
}
